apiVersion: 1

contactPoints:
  - orgId: 1
    name: polybot-slack
    receivers:
      - uid: polybot_slack
        type: slack
        disableResolveMessage: false
        settings:
          recipient: "${POLYBOT_SLACK_CHANNEL}"
          url: "${POLYBOT_SLACK_WEBHOOK_URL}"
