global:
  scrape_interval: 15s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
          - localhost:9090

  - job_name: polybot
    scrape_interval: 15s
    metrics_path: /metrics
    scheme: http
    authorization:
      type: Bearer
      credentials: fQ9mT2ZvH6kP1sXgPolyBot
    static_configs:
      - targets:
          - polybot.railway.internal:3000
        labels:
          job: polybot
          service_name: polybot

  # - job_name: example_api
  #   scheme: http
  #   static_configs:
  #     - targets:
  #         - example_api:9091

  # - job_name: your-job-name
  #   scheme: https
  #   static_configs:
  #     - targets:
  #         - URL_GOES_HERE
  #   basic_auth:
  #     username: HTTP_AUTH_USERNAME_GOES_HERE
  #     password: HTTP_AUTH_PASSWORD_GOES_HERE
