# Configuration file version
# See here fore more information on configuration:
# https://grafana.com/docs/grafana/latest/administration/provisioning/#example-data-source-configuration-file
apiVersion: 1

# Mark provisioned data sources for deletion if they are no longer in a provisioning file.
prune: false

# List of data sources to insert/update depending on what's available.
datasources:
  - name: Loki
    type: loki
    access: proxy
    orgId: 1
    uid: grafana_lokiq
    url: ${LOKI_INTERNAL_URL}
    user:
    database:
    basicAuth:
    basicAuthUser:
    withCredentials:
    isDefault: true
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    uid: grafana_prometheus
    url: ${PROMETHEUS_INTERNAL_URL}
    user:
    database:
    basicAuth:
    basicAuthUser:
    withCredentials:
    isDefault: false
  - name: Tempo
    type: tempo
    access: proxy
    orgId: 1
    uid: grafana_tempo
    url: ${TEMPO_INTERNAL_URL}
    user:
    database:
    basicAuth:
    basicAuthUser:
    withCredentials:
    isDefault: false
  - name: PostgreSQL
    type: postgres
    access: proxy
    orgId: 1
    uid: grafana_postgres
    url: ${POSTGRES_DS_HOST}
    user: ${POSTGRES_DS_USER}
    database: ${POSTGRES_DS_DATABASE}
    jsonData:
      sslmode: ${POSTGRES_DS_SSLMODE}
    secureJsonData:
      password: ${POSTGRES_DS_PASSWORD}
    isDefault: false
  - name: Polybot JSON API
    type: marcusolsson-json-datasource
    access: proxy
    orgId: 1
    uid: polybot_json
    url: ${POLYBOT_JSON_URL}
    isDefault: false
